apiVersion: v1
kind: Service
metadata:
  name: ingest
  labels:
    app: ingest
spec:
  selector:
    app: ingest
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: 8000
  type: ClusterIP